/* Navbar */
.navbar {
  background-color: black;
  color: white;
  padding: 15px 30px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5em; /* Ukuran font yang lebih besar */
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.2em; /* Ukuran font yang lebih besar */
}

.search-button {
  padding: 8px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #555;
}

/* Popular Movies */
.Movie-popular h1 {
  margin-left: 30px;
  font-size: 1.5em;
}

/* Movie Container */
.Movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.Movie-wrapper {
  color: white;
  width: 300px;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Movie-image {
  width: 100%;
  border-radius: 4px;
  padding-bottom: 20px;
}

.Movie-title {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.Movie-data, .Movie-rate {
  text-align: left;
}

/* Home */
.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Popular Movies Slider */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  scroll-snap-align: start;
}

.movie-info {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.movie-info h2 {
  margin: 0;
}

.movie-info p {
  margin: 5px 0;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px 5%;
  }

  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
    margin-top: 10px;
  }

  .search-input {
    width: 70%;
    font-size: 1em; /* Kembalikan ukuran font ke ukuran awal */
  }

  .search-button {
    width: 25%;
  }

  .App-header h1 {
    font-size: 1.2em; /* Ukuran font yang lebih besar untuk layar kecil */
  }

  .Movie-popular h1 {
    text-align: center; /* Membuat teks berada di tengah */
  }
}

.Movie-popular h1 {
  text-align: center;
  font-size: 4em; /* Atur ukuran font sesuai keinginan Anda */
}
